body {
    background-color: rgba(246, 248, 255, 0.922);
}

.container {
    padding-top: 1vw;
    width: 85vw;
}

label {
    color: rgb(64, 63, 63);
}

h1 {
    color: rgb(65, 65, 65);
    font-family: 'Roboto', sans-serif;
}

hr  {
    height: 5px;
    border-top: 1px solid #ccc;
}

td {
    color: rgb(0, 0, 0); 
 
}

.resultados {
    color: rgb(0, 47, 13);
    background-color: rgb(204, 230, 213);
    font-weight: bold;
}




